<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- SectionGroup 定義 -->
    <sectionGroup name="SRS.Standards.MvcFramework">
      <section name="ExceptionMessageConfiguration" type="SRS.Standards.MvcFramework.Core.OME2.Framework.Configuration.PropertyConfigurationSection, SRS.Standards.MvcFramework.Core"/>
      <section name="MvcFrameworkConfiguration" type="SRS.Standards.MvcFramework.Core.OME2.Framework.Configuration.PropertyConfigurationSection, SRS.Standards.MvcFramework.Core"/>
      <section name="DataSelectConfiguration" type="SRS.Standards.MvcFramework.Core.OME2.Framework.Configuration.NamedQueryConfigurationSection, SRS.Standards.MvcFramework.Core"/>
      <section name="UserConfiguration" type="SRS.Standards.MvcFramework.Core.OME2.Framework.Configuration.PropertyConfigurationSection, SRS.Standards.MvcFramework.Core"/>
      <section name="TimeoutConfiguration" type="SRS.Standards.MvcFramework.Core.OME2.Framework.Configuration.PropertyConfigurationSection, SRS.Standards.MvcFramework.Core"/>
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
  </configSections>
  <!-- 各種設定 -->
  <!-- 基本的にセクショングループ毎に設定ファイルを切り分ける-->
  <SRS.Standards.MvcFramework>
    <ExceptionMessageConfiguration configSource="config\ExceptionMessage.config"/>
    <MvcFrameworkConfiguration configSource="config\MvcFramework.config"/>
    <DataSelectConfiguration configSource="config\DataSelect.config"/>
    <UserConfiguration configSource="config\User.config"/>
    <TimeoutConfiguration configSource="config\Timeout.config"/>
  </SRS.Standards.MvcFramework>
  <connectionStrings configSource="Config\connectionStrings.config"/>
  <nlog configSource="config\NLog.config"/>
  <appSettings>
    <!-- 以下の設定は変更削除しないようにしてください -->
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Glimpse:DisableAsyncSupport" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="1000000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000"/>
  </appSettings>
  <!-- トランザクション設定 -->
  <system.transactions>
    <defaultSettings timeout="00:01:00"/>
  </system.transactions>
  <system.web>
    <!-- セッション設定 -->
    <!--
    <sessionState mode="InProc" timeout="120"></sessionState>
    <sessionState mode="SQLServer" timeout="120"
                  connectionString="Data Source=localhost\SQLEXPRESS;Persist Security Info=True;User ID=xxx;Password=xxx" />
    -->
    <sessionState mode="StateServer" timeout="120" stateConnectionString="tcpip=127.0.0.1:42424"/>
    <!-- 実行モード設定 (本番では debug="false" にする) -->
    <compilation debug="true" targetFramework="4.0"/>
    <!-- 認証設定 -->
    <authentication mode="Forms">
      <forms loginUrl="~/" timeout="120" slidingExpiration="true"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="104850" enableVersionHeader="false" delayNotificationTimeout="20" requestValidationMode="2.0"/>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <!-- エラーコード毎に表示を変える場合は、ここでリダイレクト先を指定します -->
      <!--<error statusCode="404" redirect="~/Error/NotFound"/>-->
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- キャッシュコントロール -->
    <!--  (キャッシュは許すが、毎回変更がないかチェックを強制する)  -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
    <tabs>
      <ignoredTypes>
        <add type="Glimpse.Mvc.Tab.ModelBinding, Glimpse.Mvc4"/>
        <add type="Glimpse.Mvc.Tab.Metadata, Glimpse.Mvc4"/>
      </ignoredTypes>
    </tabs>
    <inspectors>
      <ignoredTypes>
        <add type="Glimpse.Mvc.Inspector.ModelBinderInspector, Glimpse.Mvc4"/>
      </ignoredTypes>
    </inspectors>
  </glimpse>
</configuration>