<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection"
      connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SRSFW;Persist Security Info=True;User ID=SRS;Password=SRS"
      providerName="System.Data.SqlClient" />
  <add name="ServerConnection"
      connectionString="Data Source=localhost\SQLANOTHER;Initial Catalog=SRSFW;Persist Security Info=True;User ID=SRS;Password=SRS"
      providerName="System.Data.SqlClient" />
  <add name="OracleConnection"
      connectionString="user id=system;password=sqladmin;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SID=xe)))"
      providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>
