<?xml version="1.0"?>
<DataSelectConfiguration xmlns="http://srisys.co.jp/schemas/ASP/MvcFramework.xsd">
  <names>

    <!-- ドロップダウンリスト 取得サンプル -->
    <namedQuery name="ListCdList">
      <query><![CDATA[
      SELECT LISTCD AS VALUE, LISTCD + ':' + LISTNAME AS TEXT
        FROM ZZSAMPLENAME
       ORDER BY LISTCD
      ]]></query>
    </namedQuery>

    <!-- 予算カテゴリ区分リスト(言語によってクエリを切り替えるサンプル) -->
    <namedQuery name="CATEGORYList">

      <query><![CDATA[
      SELECT AA.SRITCTGKBN SRITCTGKBN, AA.SRITCTGNAME SRITCTGNAME FROM 
      (
        SELECT A.SRITCTGKBN SRITCTGKBN, A.SRITCTGRYAKU SRITCTGRYAKU
          FROM EMYOSANCATEGORY_V2 A, EMDATEKANRI_V1 B
         WHERE B.DATEKANRIKBN = '1'
           AND A.KIND = '1'
           AND A.SRITCTGSHUKEIKBN <> '4'
           AND A.SRITCTGSTKBN = '0'
           AND A.YOSANNENDO = SUBSTR(B.TODAYDATE,1,4)
      ) AA
      ORDER BY AA.SRITCTGKBN;
      ]]></query>

      <query locale="ja-JP"><![CDATA[
      SELECT AA.SRITCTGKBN SRITCTGKBN, AA.SRITCTGNAME SRITCTGNAME FROM 
      (
        SELECT A.SRITCTGKBNJP SRITCTGKBN, A.SRITCTGRYAKUJP SRITCTGRYAKU
          FROM EMYOSANCATEGORY_V2 A, EMDATEKANRI_V1 B
         WHERE B.DATEKANRIKBN = '1'
           AND A.KIND = '1'
           AND A.SRITCTGSHUKEIKBN <> '4'
           AND A.SRITCTGSTKBN = '0'
           AND A.YOSANNENDO = SUBSTR(B.TODAYDATE,1,4)
      ) AA
      ORDER BY AA.SRITCTGKBN;
      ]]></query>

    </namedQuery>

  </names>
</DataSelectConfiguration>
