<?xml version="1.0"?>
<ExceptionMessageConfiguration xmlns="http://srisys.co.jp/schemas/ASP/MvcFramework.xsd">
    <names>
      <!-- 同時更新エラー時 -->
      <namedConfig name="NonExclusiveUpdateException">
        <property name="ExceptionType" value="SRS.Standards.MvcFramework.Core.DataAccess.NonExclusiveUpdateException, SRS.Standards.MvcFramework.Core" />
        <property name="MessageId" value="CMN_E00002" />
        <property name="JudgeTrans" value="0" />
      </namedConfig>
      <!-- 登録・更新権限未取得エラー時 -->
      <namedConfig name="NonUpdateAuthorityException">
        <property name="ExceptionType" value="SRS.Standards.MvcFramework.Core.DataAccess.NonUpdateAuthorityException, SRS.Standards.MvcFramework.Core" />
        <property name="MessageId" value="CMN_E00003" />
        <property name="JudgeTrans" value="0" />
      </namedConfig>
      <!-- 一覧検索件数上限エラー時 -->
      <namedConfig name="SearchResultLimitException">
        <property name="ExceptionType" value="SRS.Standards.MvcFramework.Core.DataAccess.SearchResultLimitException, SRS.Standards.MvcFramework.Core" />
        <property name="MessageId" value="CMN_E00060" />
        <property name="JudgeTrans" value="0" />
      </namedConfig>
      <!-- 以下の設定は削除しないで下さい -->
      <namedConfig name="Default">
        <property name="ExceptionType" value="System.Exception" />
        <property name="MessageId" value="CMN_E00001" />
        <property name="JudgeTrans" value="0" />
      </namedConfig>
    </names>
</ExceptionMessageConfiguration>
