<?xml version="1.0"?>
<MvcFrameworkConfiguration xmlns="http://srisys.co.jp/schemas/ASP/MvcFramework.xsd">
  <types>
    <typeConfig type="SRS.Standards.MvcFramework.Core.Configuration.MvcFrameworkConfiguration, SRS.Standards.MvcFramework.Core">
      <!-- サーバ用リソースのベース名 -->
      <property name="ResourceBaseName" value="~\Resources\Resource" />
      <!-- ブラウザ用リソースのベース名 -->
      <property name="BrowserResourceBaseName" value="~\Resources\Resource" />
      <!-- 排他制御に使用する列名(Identity列) -->
      <property name="RowIdColName" value="ROWID" />
      <!-- 一時ファイル保存先 -->
      <property name="UploadTempPath" value="~\Temp" />
      
      <property name="RowVersionColName" value="REVISION" />
      <property name="MessageLoginError" value="CMN_E00010" />
      <property name="MessagePagingParamError" value="１ページあたりの行数、もしくは、取得ページ番号が正しく設定されていません" />
      <property name="MessageNotDMLError" value="Insert、Update、Delete以外のSQL構文が指定されています" />
      <property name="MessageInvalidFacadeMethod" value="Facadeメソッドの戻り値がIViewModelを実装していません" />

      <property name="MessageNoInsertPermissionError" value="CMN_E00006" />
      <property name="MessageNoUpdatePermissionError" value="CMN_E00007" />
      <property name="MessageNoDeletePermissionError" value="CMN_E00008" />
      <property name="MessageNoSearchPermissionError" value="CMN_E00009" />
      <property name="MessageDataSelectNotFoundError" value="CMN_E00005" />
      <property name="LabelSelectAll" value="lbl_CMN_SELECTALL" />
      <property name="LabelClearAll" value="lbl_CMN_CLEARALL" />

      <!-- 排他制御内での列名を、自動的に大文字・小文字などに変換するかどうかのモード(何もしない: None、大文字に変換: UpperCase、小文字に変換: LowerCase) -->
      <property name="ColumnNameCaseMode" value="UpperCase" />

      <!-- データセレクト結果をキャッシュしておく時間(分) (-1: 無制限、0: キャッシュしない、1以上: キャッシュ分数) -->
      <property name="DataSelectCacheMinutes" value="15" />
      
      <!-- 更新処理中、対象行に実際にかけるロックの種類 (明示ロックしない: NoLock、行更新ロック: RowUpdate、行更新(ロック待機なし): RowUpdateNoWait、
                                                         行更新(ロック待機なし+主キー指定): RowUpdateNoWaitPrimaryKey -->
      <property name="ExclusiveLockType" value="RowUpdateNoWaitPrimaryKey" />

      <!-- SRSHtmlHelper.SRSRaw で、リソース以外の通常の文字出力のみ、そのまま出力せずエスケープするかどうか。(0: しない、1: する) -->
      <property name="DisablePathThroughOnSRSRaw" value="1" />

      <!-- 一覧検索で許可する検索件数の上限。これを越えると例外が発生します。既定値は100000。 -->
      <property name="SearchResultLimit" value ="100000"/>

    </typeConfig>
  </types>
</MvcFrameworkConfiguration>
