<?xml version="1.0"?>
<!--以下にログの出力定義を行います。-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <variable name="layoutBase" 
            value="${longdate} ${machinename} ${threadid} ${aspnet-user-identity} ${aspnet-request:serverVariable=REMOTE_ADDR} ${message}" />
  <targets>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>
    <target name="appExceptionLogger" xsi:type="File" fileName="${basedir}/log/Exception.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Exception.{#}.log" maxArchiveFiles="31" 
            archiveNumbering="Rolling" layout="${layoutBase}"/>

    <target name="appSqlLogger" xsi:type="File" fileName="${basedir}/log/Sql.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Sql.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appRequestLogger" xsi:type="File" fileName="${basedir}/log/Request.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Request.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appSysTraceLogger" xsi:type="File" fileName="${basedir}/log/SysTrace.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/SysTrace.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appUserFacadeTraceLogger" xsi:type="File" fileName="${basedir}/log/UserFacadeTrace.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/UserFacadeTrace.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appUserRuleTraceLogger" xsi:type="File" fileName="${basedir}/log/UserRuleTrace.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/UserRuleTrace.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appAuthLogger" xsi:type="File" fileName="${basedir}/log/Auth.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Auth.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appBusinessSecurityLogger" xsi:type="File" fileName="${basedir}/log/Security.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Security.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

    <target name="appBusinessLogger" xsi:type="File" fileName="${basedir}/log/Business.log"
            archiveEvery="Day" archiveFileName="${basedir}/log/Business.{#}.log" maxArchiveFiles="31" archiveNumbering="Rolling"
            layout="${layoutBase}"/>

  </targets>
  <rules>
    <logger name="ExceptionLogger" writeTo="appExceptionLogger" />
    <logger name="SqlLogger" writeTo="appSqlLogger" />
    <logger name="RequestLogger" writeTo="appRequestLogger" />
    <logger name="SysTraceLogger" writeTo="appSysTraceLogger" />
    <logger name="UserFacadeTraceLogger" writeTo="appUserFacadeTraceLogger" />
    <logger name="UserRuleTraceLogger" writeTo="appUserRuleTraceLogger" />
    <logger name="AuthLogger" writeTo="appAuthLogger" />
    <logger name="BusinessSecurityLogger" writeTo="appBusinessSecurityLogger" />
    <logger name="BusinessLogger" writeTo="appBusinessLogger" />
  </rules>
</nlog>
