<?xml version="1.0"?>
<UserConfiguration xmlns="http://srisys.co.jp/schemas/ASP/MvcFramework.xsd">
  <types>
    <typeConfig type="SRSSystem.Common.Utilities.UserConfig, Common">
      <!-- 設定名と値の組を定義します -->
      <!-- <property name="Setting" value="SettingValue" /> -->
    </typeConfig>
  </types>
</UserConfiguration>
